*{
    margin: 0;
    padding: 0;
  }

  a {
    color: inherit;   /* This will make the link take the color of its parent element */
    text-decoration: none; /* This will remove the underline from the link */
}

/* This applies specifically to visited links */
a:visited {
    color: inherit;   /* This will keep the visited links the same color */
}

/* This applies when hovering over the link */
a:hover {
    color: rgb(224, 224, 224); 
}

/* This applies when the link is active (clicked) */
a:active {
    color: rgb(255, 255, 255);
}

body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    background-color: rgb(213, 213, 213);
}
.menu-title{
    margin-left: 600px;
    margin-right: 600px;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(76, 20, 61);
}

#menu-list{
    margin-left: 500px;
    margin-right: 500px;
    text-align: center;
    background-color: white;
}

h1.head{
    /* The head of the recipe page */
    border-bottom-style: dotted;
    border-bottom-width: 10px;
    color: white;
    border-color: rgb(213, 213, 213);
    background-color: rgb(86, 86, 86);
    padding-bottom: 1%;
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 150%;
    flex-grow: 1;
    text-align: center;
}
.recipe-name{
    text-align: center;   
    font-size: 110%;
    background-color: white; 
    margin-left: 15%;
    margin-right: 15%;    
    margin-bottom: 0px;
    text-decoration: underline;
    
}

.description{
    margin-left: 15%;
    margin-right: 15%;
    font-size: 70%;
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 20px;
    margin-top: 0px;
    text-align: justify;
}

/* Centers text for ingredients */
ul{
    text-align: justify;
    list-style-position: inside;
    font-size: 20px;
    padding: 10px;
}

.ingredients {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    padding-top: 10px;
    font-size: 25px;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 30%;
    background-color: white;
    margin-bottom: 0px;
}

/* Adds box to the ingredients */
ul,
h3.ingredients{
    border: 5px;
    margin-left: 25%;
    margin-right: 25%;
    background-color: white;
}

h1{
    background-color: rgb(177, 141, 196);
    text-align: center;
}

.image-box {
    display: flex; 
    justify-content: space-evenly;  
    margin-bottom: 40px;
}

.image {
    border: 6px;
    border-style: double;
}

.howtomake{
    font-size: 80%;
    margin-top: 5%;
    margin-left: 100px;
    text-decoration: underline;
    background-color: white;
    margin-right: 55%;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

.howtomake-list{
    margin-left: 100px;
    margin-top: 0px;
    margin-right: 55%;
    text-align: justify;
    background-color: white;
    padding-left: 50px;
    padding-right: 20px;
    padding-bottom: 3%;
    font-size: 60%;
}

.secondimage{
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    margin: 0; 
}

.secondimage-box{
    background-color: rgb(86, 86, 86);
    border-color: rgb(213, 213, 213);
    border-width: 10px;
    margin-left: 55%;
    margin-top: -22%;
    padding: 5px;
    width: 25%;  
    height: 25%; 
    display: flex; 
    border-style:dotted;
    margin-bottom:20%;
    height: auto;
}

/* Go back button */
.goback{
    margin-left: 5%;
    background-color: rgb(86, 86, 86);
    color: white;
    font-size: 70%;
    border-style: none;
    font-family: 'Times New Roman', Times, serif;
    position:absolute;
    top: 1.5%;
    left: 5%;
    margin: 10px;
    font-weight: bold;
}

.headbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

