body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

body .head {
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

ul{
    text-align: center;
    list-style-position: inside;
    font-size: 20px;
}

.ingredients {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    font-size: 25px;
    margin-top: 70px;
}

ul,
h3.ingredients{
    border: 5px;
    border-style: solid;
}
